body {
  margin: 0;
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar:horizontal {
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* 滑块的颜色 */
  border-radius: 6px; /* 滑块的圆角 */
}

/* General styles */
.section {
  margin-bottom: 20px;
}

.flex-header {
  display: flex;
  align-items: center;
}

.active {
  color: #fff;
  background-color: #62bf82;
}

/* Specific styles */
header {
  min-width: 900px;
  padding: 0 200px 15px 200px;
  white-space: nowrap;
  background-color: #fff;
  .header-main {
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 30px;
    .header-main--right {
      display: flex;
      gap: 15px;
      align-items: center;
      .right-vip {
        position: relative;
        font-size: 13px;
        background-color: #62bf82;
        color: #fff;
        padding: 10px 30px;
        border-radius: 3px;
        &:hover {
          img {
            transform: rotate(180deg);
            transition: all 0.2s;
          }
          .right-vip--select {
            display: block;
          }
        }
        .right-vip--span {
          display: flex;
          align-items: center;
          gap: 3.5px;
        }
        .right-vip--select {
          display: none;
          position: absolute;
          top: 37px;
          left: 0px;
          white-space: normal;
          border-left: 1px solid #aaa;
          border-right: 1px solid #aaa;
          border-radius: 3px;
          button {
            border: none;
            border-bottom: 1px solid #aaa;
            font-size: 13px;
            width: 124px;
            height: 37px;
            background-color: #fff;
            &:hover {
              cursor: pointer;
              background-color: #62bf82;
              color: #fff;
            }
          }
        }
      }
      .right-charge {
        position: relative;
        font-size: 13px;
        border: 1px solid #aaa;
        border-radius: 2px;
        &:hover {
          color: #000;
          .right-charge--select {
            display: block;
          }
          img {
            transform: rotate(180deg);
            transition: all 0.2s;
          }
        }
        .right-charge--span {
          display: flex;
          align-items: center;
          gap: 3.5px;
          padding: 10px 15.5px;
          &:hover {
            color: #fff;
            background-color: #62bf82;
          }
        }
        .right-charge--select {
          display: none;
          position: absolute;
          top: 38px;
          left: -1px;
          white-space: normal;
          border-radius: 2px;
          overflow: hidden;
          button {
            border: 1px solid #aaa;
            border-top: none;
            font-size: 13px;
            width: 78px;
            height: 39px;
            background-color: #fff;
            &:hover {
              cursor: pointer;
              background-color: #62bf82;
              color: #fff;
            }
          }
        }
      }
    }
    a {
      &:hover {
        cursor: pointer;
        color: #62bf82;
      }
    }
    .anchor-input {
      display: flex;
      align-items: center;
      padding: 0 10px;
      border: 1px solid #aaa;
      border-radius: 3px;
      input {
        height: 25px;
        border: none;
        text-align: start;
        outline: none;
        width: 180px;
        height: 35px;
      }
      img {
        width: 22px;
        height: 22px;
        margin-left: 10px;
      }
      @media (max-width: 1500px) {
        input {
          width: 80px;
        }
      }
      @media (max-width: 1200px) {
        input {
          width: 50px;
        }
      }
      @media (max-width: 900px) {
        input {
          width: 20px;
        }
      }
      @media (max-width: 600px) {
        input {
          width: 0;
        }
      }
    }
  }
  .header-sub {
    justify-content: center;
    font-size: 15px;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    align-self: center;
    padding-top: 15px;
    border-top: 1px solid #f2f2f2;
    a {
      &:hover {
        cursor: pointer;
        color: #62bf82;
      }
    }
  }
}

main {
  min-width: 900px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 150px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  .tag {
    align-self: start;
    padding-top: 10px;
    font-size: 14px;
    .tag-list {
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 10px 0;
      .tag-item--p {
        margin: 0;
        padding: 5px 10px;
      }
      .tag-item {
        padding: 5px 10px;
        &:hover {
          cursor: pointer;
          color: #62bf82;
        }
        &.active {
          color: #fff;
        }
      }
    }
  }
  .detail {
    width: 100%;
    .detail-title {
      min-width: 900px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      padding: 10px 20px 20px 0;
      .detail-title--tag {
        display: flex;
        min-height: 30px;
        min-width: 80px;
        .btn-tag {
          display: flex;
          align-items: center;
          font-size: 16px;
          padding: 8px 8px 8px 12px;
          border-radius: 2px;
          border: 1px solid #aaa;
          margin-right: 10px;
          img {
            padding-left: 5px;
            height: 20px;
            &:hover {
              scale: 1.3;
            }
          }
          &:hover {
            color: #fff;
            background-color: #62bf82;
          }
        }
      }
      a {
        font-size: 14px;
        padding: 10px 15px;
        border-radius: 2px;
        border: 1px solid #aaa;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .detail-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      .detail-item {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 30px;
        min-width: 150px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        a {
          position: relative;
          overflow: hidden;
          &:hover {
            img {
              cursor: pointer;
              scale: 1.1;
              transition: all 0.8s;
            }
            .detail-logo {
              opacity: 1;
              transition: all 0.8s;
              transform: translateY(-1px);
            }
            .detail-mask {
              opacity: 0.2;
              transition: all 0.3s;
            }
          }
          .detail-logo {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            z-index: 1;
            background-image: url("./data/play.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75px;
          }
          .detail-mask {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0;
          }
        }
      }
      .detail-item--song {
        margin: 0;
        margin-top: 10px;
        &:hover {
          cursor: pointer;
          color: #62bf82;
        }
      }
      .detail-item--singer {
        margin: 0;
        color: #aaa;
        &:hover {
          cursor: pointer;
          color: #62bf82;
        }
      }
      .detail-item--info {
        margin: 0;
        color: #aaa;
        display: flex;
        gap: 5px;
      }
      .emptyMessage {
        margin: 20px auto;
        font-size: 24px;
        grid-column: 2/4;
      }
      .errorMessage {
        color: red;
        margin: 20px auto;
        font-size: 24px;
        grid-column: 2/4;
      }
    }
    .detail-pagination {
      display: flex;
      justify-content: space-between;
      position: relative;
      .page-link {
        color: #000;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 2px;
        border: 1px solid #aaa;
        &:hover {
          background-color: #62bf82;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  header {
    padding: 0 120px 15px 120px;
    .header-main {
      gap: 27px;
    }
  }
  main {
    padding: 0 120px;
  }
}

@media (max-width: 1200px) {
  header {
    padding: 0 90px 15px 90px;
    .header-main {
      gap: 20px;
    }
  }
  main {
    padding: 0 90px;
  }
}

@media (max-width: 900px) {
  header {
    padding: 0 60px 15px 60px;
    .header-main {
      gap: 18px;
    }
  }
  main {
    padding: 0 60px;
  }
}
